body{
    margin: 0;
}

* {
    box-sizing: border-box;
}

.heading{
    height: 20vh;
    font-size: 4rem;
    text-align: center;
    color: black;
    background-color: brown;
    vertical-align: middle;
    margin: 0;
    padding-top: 40px;
}

.container{
    background-color: blanchedalmond;
    color: black;
}

.container,
.input-container,
.task-container{
    border: 1px solid black;
}

.input-container{
    height: 20vh;
    text-align: center;
    padding-top: 47px;
}

.task-container{
    height: 60vh;
    text-align: center;
}

.task-input{
    text-align: center;
    font-size: 1.5rem;
    height: 3rem;
    width: 30%;
}

.task-list{
    padding-left: 0;
}
.task-container li{
    font-size: 1.5rem;
    background-color: brown;
    list-style: none;
    color: black;
    border: 2px solid black;
    width: 40%;
    text-align: center;
    margin: 10px auto 0px auto;
    margin-top: 10px;
}

@media screen and (max-width: 768px){
    .task-container li,
    .task-input{
        width: 70%;
    }
}